.nave{
    width:150px;
    animation-name: vuelo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* @keyframes nombreanimacion */
@keyframes vuelo {
    /* vamos a poner nuestros fotogramas
    c/fotograma sera propiedades de css */
    /* va de 0% a 100% */
    0%{
        transform: translate(0, 0) rotate(90deg);
    }

    25%{
        transform: translate(500px, 0) rotate(90deg);
    }
    30%{
        transform: translate(500px, 0) rotate(180deg);
    }

    50%{
        transform: translate(500px, 500px) rotate(180deg);
    }
    60%{
        transform: translate(500px, 500px) rotate(270deg);
    }
    75%{
        transform: translate(0, 500px) rotate(270deg);
    }
    85%{
        transform: translate(0, 500px) rotate(360deg);
    }
    100%{
        transform: translate(0, 0) rotate(360deg);
    }
}