/* poder utilizar una etiqueta descargada */
@font-face {
    /* le puedo poner cualquier nombre */
    font-family: Montserrat;
    src: url('./assets/Montserrat-VariableFont_wght.ttf');
}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* temporal */
    /* border:1px solid red; */
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fraunces', serif;
    font-weight: 300;
}

h2{
    font-size:50px;
}

h3{
    font-size: 32px;
}

header{
    /* si no encuentra una pasa a la sgte */
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    width: 1200px;
    padding:100px;
    /* auto: automatico, toma los valores como el navegador mejor lo disponga */
    margin:0 auto;
}

header > h1 {
    margin:40px 0;
    font-size: 72px;
}

.action{
    display:flex;
    gap:10px;
    margin: 48px auto 64px auto;
    max-width:300px;    
}

.btn{
    width:150px;
    height:70px;
    padding:25px;
    border:1px solid black;
    border-radius: 40px;
    display:block;
}

.btn:hover{
    font-weight: bold;
}

.btn-black{
    background-color: black;
    color:white;
}

.color-shapes {
    width:100%;
}

#btn-wp{
    background-color: greenyellow;
    border-radius: 50%;
    width:75px;
    height:75px;
    font-size:64px;
    position:fixed;
    bottom:50px;
    right:50px;
}

#btn-wp:hover{
    cursor:pointer;
    background-color: green;
    /* box-shadow: hor ver blur spread color*/
    box-shadow: 3px 3px 5px 3px lightgray;
}

/* Section questions */
.questions{
    height:500px;
    display:flex;
    gap:40px;
    padding:96px 0;
}

.question:nth-of-type(1){
    border-top:1px solid  orangered;
}

.question:nth-of-type(1) > i{
    color:orangered;
}

.question:nth-of-type(2){
    border-top: 1px solid steelblue;
    align-self: flex-end;
}

.question:nth-of-type(2) > i{
    color:steelblue;
}

/* Section-Resources */
.container-center{
    width:1200px;
    margin:0 auto;
}

.resources{
    text-align: center;
}

.resources > h2{
    margin: 96px 0 64px 0;
}

.resources-cards{
    display:flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.res-card{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px; /*flex y grid*/
}

.res-card > img{
    height: 225px;
}

/* Footer */