/* poder utilizar una etiqueta descargada */
@font-face {
    /* le puedo poner cualquier nombre */
    font-family: Montserrat;
    src: url('./assets/Montserrat-VariableFont_wght.ttf');
}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* temporal */
    border:1px solid red;
}

header{
    /* si no encuentra una pasa a la sgte */
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    width: 1200px;
    padding:100px;
    /* auto: automatico, toma los valores como el navegador mejor lo disponga */
    margin:0 auto;
}

header > h1 {
    margin:40px 0;
    font-size: 72px;
    font-family: 'Fraunces', serif;
    font-weight: 300;
}

.btn{
    width:150px;
    height:70px;
    padding:25px;
    border:1px solid black;
    border-radius: 40px;
    display:block;
}

.btn:hover{
    font-weight: bold;
}

.btn-black{
    background-color: black;
    color:white;
}

#btn-wp{
    background-color: greenyellow;
    border-radius: 50%;
    width:75px;
    height:75px;
    font-size:64px;
    position:fixed;
    bottom:50px;
    right:50px;
}

#btn-wp:hover{
    cursor:pointer;
    background-color: green;
    /* box-shadow: hor ver blur spread color*/
    box-shadow: 3px 3px 5px 3px lightgray;
}