/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* temporal */
    border:1px solid red;
}

header{
    /* si no encuentra una pasa a la sgte */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 1200px;
    padding:100px;
    /* auto: automatico, toma los valores como el navegador mejor lo disponga */
    margin:0 auto;
}

header > h1 {
    margin:40px 0;
    font-size: 72px;
}

.btn{
    width:150px;
    height:70px;
    padding:25px;
    border:1px solid black;
    border-radius: 40px;
    display:block;
}

.btn:hover{
    font-weight: bold;
}

.btn-black{
    background-color: black;
    color:white;
}